[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "topChef"]
	path = topChef
	url = https://github.com/celevitz/topchef
[submodule "touRnamentofchampions"]
	path = touRnamentofchampions
	url = https://github.com/celevitz/tournamentofchampions
